body {
    font-family: Arial, sans-serif;
    background-color: #0b372dbb;
    color: #fff;
  }

  .active {
    background-color: #0b372dbb; /* oder jede gewünschte Farbe */
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 20%;
    right: 20%;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    margin-bottom: 20px;
  }
  